.appNavbar{
    background-color: #3AAFA9;
}

.appNavbarTitle {
    color: #FFFFFF;
}

.appNavbarLeft, .appNavbarRight {
    display: inline-block;
}

.link-To {
    color: inherit;
    text-decoration: inherit; 
}

@media screen and (min-width: 1280px) {
    .appNavbarLeft {
        width: 35%;
    }
    
    .appNavbarRight {
        width: 64%;
    }
    
    .appNavbarRight {
        text-align: right;
    }
    
    .appNavbarTitle {
        margin-left: 100px;
    }

    .appNavbarUsername, .appNavbarNavButton {
        display: inline-block;
        margin-right: 10px;
    }

    .appNavbarNavButton {
        background-color: #17242A;
        width: 120px;
        height: 30px;
        border-radius: 20px;
        color: #FFFFFF;
        outline: none;
        border: none;
    }

    .appNavbarNavButton:hover {
        background: #FFFFFF;
        color: #17242A;
    }

    .appNavbarNavButton:active {
        font-weight: bold;
    }

    .appNavbarUsername {
        margin-right: 100px;
        font-weight: bold;
        font-size: 18px;
        color: #FFFFFF;
    }
    
}