@media screen and (min-width: 1280px) {
    .recipeDisplayContainer {
        display: inline-block;
        text-align: center;
        vertical-align: top;
        width: 74.75%;
    }

    .emptyPropsChecker {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

    .baseRecipeInfoContainer {
        display: inline-block;
        text-align: left;
        width: 40%;
    }

    .displayedRecipe {
        text-align: center;
        width: 300px;
        margin-right: auto;
        margin-left: auto;
    }

    .nutritionSection {
        text-align: left;
    }

    .nutritionSection p{
        margin: 0;
    }

    .ingredientList {
        display: inline-block;
        vertical-align: top;
        width: 45%;
    }

    .ingredientUl {
        padding-left: 20px;
        list-style: square;
        text-align: left;
    }

    .allergyContainer {
        display: inline-block;
        width: 15%;
        vertical-align: top;
        text-align: center;
    }

    .allergyContainer p {
        margin-top: 5px;
        margin-bottom: 5px;
        margin-left: auto;
        margin-right: auto;
    }

    .recipeLink {
        font-size: 20px;
    }

    .saveRecipeButtonContainer, .extraDetailContainer {
        display: inline-block;
        width: 50%;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .nextRecipeButtonContainer {
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .nextRecipeButton, .saveRecipeButton {
        border-radius: 5px;
        width: 150px;
        font-size: 15px;
    }
}