.recipeDisplayContainer p, .recipeDisplayContainer ul {
    color: #f5f8f0;
    font-size: 18px;
    font-weight: bold;
}

.searchedHeader {
    color: #17242A;
    font-size: 28px;
    font-weight: bold;
}

.searchedRecipeImage {
    border: 2px solid #17242A;
}

.recipeLink {
    text-decoration: none;
}

.recipeLink:visited {
    color: #FFFFFF;
    text-decoration: none;
}

.recipeLink:visited:hover {
    color: #17242A;
}

.recipeDisplayButton {
    background-color: #17242A;
    border-radius: 20px;
    height: 25px;
    color: #FFFFFF;
    outline: none;
    border: none;
}

.recipeDisplayButton:hover {
    background: #FFFFFF;
    color: #17242A;
}

.recipeDisplayButton:active {
    font-weight: bold;
}

@media screen and (min-width: 1280px) {
    .recipeDisplayContainer {
        display: inline-block;
        text-align: center;
        vertical-align: top;
        width: 74.50%;
    }

    .emptyPropsChecker {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

    .baseRecipeInfoContainer {
        display: inline-block;
        text-align: left;
        width: 40%;
    }

    .displayedRecipe {
        text-align: center;
        width: 300px;
        margin-right: auto;
        margin-left: auto;
    }

    .searchedRecipeImage {
        border-radius: 10%;
    }

    .nutritionSection {
        text-align: left;
    }

    .nutritionSection p{
        margin: 0;
    }

    .ingredientList {
        display: inline-block;
        vertical-align: top;
        width: 40%;
    }

    .ingredientUl {
        padding-left: 20px;
        list-style: square;
        text-align: left;
    }

    .allergyContainer {
        display: inline-block;
        width: 20%;
        vertical-align: top;
        text-align: center;
    }

    .allergyContainer p {
        margin-top: 5px;
        margin-bottom: 5px;
        margin-left: auto;
        margin-right: auto;
    }

    .saveRecipeButtonContainer, .extraDetailContainer {
        display: inline-block;
        width: 50%;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .nextRecipeButtonContainer {
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .recipeDisplayButton {
        border-radius: 5px;
        width: 150px;
        font-size: 15px;
    }
}