.recipeSectionComponent {
    background-color: #3aafa9;
}

@media screen and (min-width: 1280px) {
    .recipeSectionComponent {
        width: 90%;
        margin-top: 50px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        border-radius: 25px;
        min-height: 600px;
    }

    .recipeSectionTitleContainer {
        border-bottom: 1px solid black;
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .recipeSectionTitle {
        margin: 0;
        color: #17242A;
    }
}