@media screen and (min-width: 1280px) {
    .recipeSectionComponent {
        width: 90%;
        margin-top: 50px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;

        border: 1px solid black;
    }

    .recipeSectionTitleContainer {
        border-bottom: 1px solid black;
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .recipeSectionTitle {
        margin: 0;
    }
}