@media screen and (min-width: 1280px) {
    .HomePageHeaderContainer{
        text-align: center;
        background-color: rgb(170, 170, 170);
    }
    
    .userLoginContainer, .instructionContainer{
        background-color: hotpink;
        vertical-align: top;
        display: inline-block;
        width: 50%;
        text-align: center;
    }

    .loginFormInput{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    }

    .homePageErrorContainer{
        min-height: 20px;
        width: 40%;
        margin-left: auto;
        margin-right: auto;
    }

    .homePageErrorText{
        font-weight: bold;
        color: red;
    }
    .userAccountButtons{
        margin-top: 20px;
        margin-bottom: 20px;
    }
}