.savedrecipe {
    border: 1px solid black;
    background-color: cornflowerblue;
}

@media screen and (min-width: 1280px) {
    .savedrecipeComponent {
        width: 70%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    .savedrecipeContainer {
        text-align: left;
    }

    .savedrecipe {
        margin-top: 15px;
        margin-bottom: 15px;
        
    }
    
    .savedrecipeImageContainer {
        width: 20;
        display: inline-block;
    }

    .savedrecipeImage {
        width: 200px;
        height: 200px;
    }

    .savedrecipeDelete {
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    .savedrecipeInfoContainer {
        display: inline-block;
        width: 79%;
    }

    .savedrecipeName {
        display: block;
    }
    
    .savedrecipeDescription{
        display: block;
        width: 80%;
        text-align: left;
        margin-left: auto;
        margin-right: auto;
    }
}