.savedrecipe {
    border: 1px solid black;
    background-color: cornflowerblue;
}

@media screen and (min-width: 1280px) {
    .savedRecipeComponent {
        width: 40%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    .savedRecipesContainer {
        text-align: left;
    }

    .singleSavedRecipeContainer {
        border: 5px dotted hotpink;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .savedRecipeLeftContainer, .savedRecipeRightContainer {
        display: inline-block;
    }

    .savedRecipeLeftContainer {
        vertical-align: top;
        width: 40%;
    }

    .savedRecipeRightContainer {
        vertical-align: top;
        width: 60%;
    }
    
    .savedRecipeImageContainer {
        width: 20;
        display: inline-block;
    }

    .savedRecipeImage {
        width: 200px;
        height: 200px;
    }

    .savedRecipeListHeader {
        margin: 0;
    }

    .savedRecipeDelete {
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    .savedRecipeInfoContainer {
        display: inline-block;
        width: 79%;
    }

    .savedRecipeName {
        display: block;
    }
    
    .savedRecipeDescription{
        display: block;
        width: 80%;
        text-align: left;
        margin-left: auto;
        margin-right: auto;
    }
}