@media screen and (min-width: 1280px) {
    .recipySectionComponent {
        width: 90%;
        margin-top: 50px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;

        border: 1px solid black;
    }
}